@model webV6.Models.Animal
@{
    ViewBag.Title = "EditAnimal";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/styles/addAnimal.css" rel="stylesheet" />
}

<div class="container-div">
    <div class="data-div">
        <form asp-action="EditAnimal" method="post" enctype="multipart/form-data">

            <p class="add-animal-text">Edit animal - @ViewBag.animal.AnimalName</p>

            <div class="div-name">
                Name:
                <input asp-for="AnimalName" class="animal-name" name="AnimalName" type="text" maxlength="17" value="@ViewBag.animal.AnimalName" />
@*                <input class="animal-name" name="AnimalName" type="text" value="@ViewBag.animal.AnimalName" />*@
                <span asp-validation-for="AnimalName"></span>
            </div>

            <div class="div-age">
                Age:
                <input asp-for="Age" class="animal-age" name="Age" type="number" value="@ViewBag.animal.Age" />
@*                <input class="animal-age" name="Age" type="number" value="@ViewBag.animal.Age" />*@
                <span asp-validation-for="Age"></span>
            </div>

            <div class="div-description">
                <p>Description:</p>
                <input asp-for="Description" class="animal-description" name="Description" rows="3" cols="10" value="@ViewBag.animal.Description"></>
@*              <textarea class="animal-description" name="Description" rows="3" cols="10" value="@ViewBag.animal.Description">@ViewBag.animal.Description</textarea>*@
                <span asp-validation-for="Description"></span>
            </div>

            <div class="div-category">
                Category: 
                <select asp-for="CategoryId" class="categorySelect" name="CategoryId">
                    <option hidden class="categoryOption" id="category_option">Choose Category</option>
                    @foreach (var category in ViewBag.Categories)
                    {
                        if (category == ViewBag.animal.Category)
                        {
                            <option class="categoryOption" id="category_option" value="@category.CategoryId" selected>@category.CategoryName</option>
                        }
                        else
                        {
                            <option class="categoryOption" id="category_option" value="@category.CategoryId">@category.CategoryName</option>
                        }
                    }
                </select>

                <span asp-validation-for="CategoryId"></span>
            </div>

            <div class="div-file">
                Upload File:
                <input class="animal-file" type="file" name="file" value="@ViewBag.animal.PictureName"/>
                <img src="~/animal images/@ViewBag.animal.PictureName" alt="animal picture" width="30" height="30" />
            </div>


            <div class="div-add-btn">
                <input class="categorySubmit" type="submit" value="Edit" />
            </div>

        </form>
    </div>
</div>

